1.Write a Python program which accepts the radius of a circle from the user
and compute the area.

In [ ]:
import math

def calculate_circle_area():
   radius = float(input("Enter the radius of the circle: "))
   area = math.pi * radius**2

   print("The area of the circle is:", area)

calculate_circle_area()

Enter the radius of the circle: 12
The area of the circle is: 452.3893421169302

2.Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

In [1]:
student_name = input("Enter student name: ")
student_roll_no = input("Enter student roll number: ")
student_mark = float(input("Enter student mark: "))

print("Student name:", student_name)
print("Student roll number:", student_roll_no)
print("Student mark:", student_mark)

Enter student name: Afthab
Enter student roll number: 14
Enter student mark: 498
Student name: Afthab
Student roll number: 14
Student mark: 498.0

3.Write a Python program to get the largest number from a list.

In [4]:
list3 = [10, 2, 4, 58, 64, 45, 88, 9]
largest_number = max(list3)
print("The largest number in the list is:", largest_number)

The largest number in the list is: 88

4.Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

In [7]:
for i in range(3, 12):
    sum = i + (i-1)
    print(sum)

5
7
9
11
13
15
17
19
21

5.Write a Python program to print only those numbers which are divisible
of 5.

In [40]:
user_input = input("Enter numbers separated by commas: ")

numbers = [int(n) for n in user_input.split(",")]

divisible_by_5 = [n for n in numbers if n % 5 == 0]

print('numbers divisible by five are',divisible_by_5)

Enter numbers separated by commas: 12,55,48,79,20
numbers divisible by five are [55, 20]

6.Write a Python program to check whether a number is prime or not

In [8]:
n = int(input("Enter a number: "))
if n > 1:
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            print(n, "is not a prime number")
            break
    else:
        print(n, "is a prime number")
else:
    print(n, "is not a prime number")

Enter a number: 23
23 is a prime number

7.Write a Python program to reverse a list using for loop.

In [10]:
list1 = [1000, 30, 23, 15, 54]
print("Original list:", list1)

list1.reverse()

print("Reversed list:", list1)

Original list: [1000, 30, 23, 15, 54]
Reversed list: [54, 15, 23, 30, 1000]

8.Write a Python program to print the following pattern.
*
**
***
****

In [11]:
for i in range(1, 5):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****

9.Write a Python program to find the maximum of three numbers

In [12]:
a = int(input("Enter 1st number: "))
b = int(input("Enter 2nd number: "))
c = int(input("Enter 3rd number: "))

if a > b and a > c:
    print("The largest number is", a)
elif b > a and b > c:
    print("The largest number is", b)
else:
    print("The largest number is", c)

Enter 1st number: 12
Enter 2nd number: 1000
Enter 3rd number: 100000
The largest number is 100000

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print('*', end=' ')
  print()
for i in range(5, 0, -1):
  for j in range(i):
    print('*', end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*